$clr-primary: rgb(216, 219, 47);
$clr-primary-accent: rgb(216, 219, 47, 15%);
$clr-secondary: rgb(215, 51, 40);
$clr-accent: rgb(255, 255, 255);
$clr-slate-900: rgb(19, 48, 65);
$clr-slate-700: rgb(78, 110, 126);
$clr-slate-500: rgb(107, 148, 168);
$clr-slate-300: rgb(154, 190, 213);
$clr-slate-100: rgb(228, 244, 253);

$error-clr: $clr-secondary;