@mixin preset-100 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 125%;
    // letter-spacing: -1px;
}
@mixin preset-200 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 125%;
    // letter-spacing: -1px;
}
@mixin preset-300 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 125%;
    // letter-spacing: -1px;
}
@mixin preset-400 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    // letter-spacing: 0;
}
@mixin preset-500 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 150%;
    // letter-spacing: 0;
}